body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg,#f2f6fb,#e4edf7);
    margin: 0;
}

.maincontent {
    display: flex;
    gap: 25px;
    flex-direction: column;
    padding: 25px 60px;
}

h2, h3 {
    border-left: 6px solid #4673a0;
    padding-left: 10px;
    margin-bottom: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg,#4673a0,#5f8fc0);
    color: black;
    padding: 20px 40px;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.headertitle {
    font-size: 26px;
}

.header a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 6px;
    transition: 0.3s;
}

.header a:hover {
    background-color: rgba(255,255,255,0.4);
}

.bio {
    display: flex;
    gap: 25px;
    align-items: flex-start;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.08);
}

.image img {
    width: 220px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.image figcaption {
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
    color: #444;
}

.sectiondates {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 5px 12px rgba(0,0,0,0.08);
}

.sectiondates li {
    margin-bottom: 8px;
}

.life-section{
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.08);
}

.video {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 12px rgba(0,0,0,0.15);
    border-radius: 10px;
    left: -40px;
}

.memory {
    margin-top: 40px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.08);
}

.page-footer{
    background: linear-gradient(135deg,#4673a0,#5f8fc0);
    color: black;
    padding: 25px 50px;
    margin-top: 50px;
    border-radius: 10px;
}

.footer1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.footer-copyright{
    margin-top: 15px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    font-style: italic;
    
}

.footer-email {
    color: black;
    text-decoration: none;
}

.footer-email:hover {
    text-decoration: underline;
}
.dates-and-life{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}